taskList.db
taskList.db-shm
taskList.db-wal

.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

*/bin/*
*/obj/*

packages
*.nupkg
.nuget/
.packages/

.dotnet/tools/

publish/
*.publishsettings
*.publish.xml
*.deploy
*.tmp

*.userprefs
*.vsix
*.exe
*.dll

.vsconfig
*.ide.*

# Uploaded files
wwwroot/uploads/